.menuDiv{
    position: absolute;
    width:15%;
    background-color: transparent;
    top:13%;
}

.ul{
    list-style: none;
}

li{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
    color:white;
}

li a{
    color:white;
    font-size: large;
    text-decoration: none;
    
}
li a:hover,
li .bttn:hover {
    text-decoration: none;
    color: rgb(15, 23, 146);
    border-bottom: whitesmoke;
    transform: scale(1.3);
    transition: 0.2s;
    background-color: transparent;

}

li .bttn {
    background-color: transparent;
    border:none;
}


